*{
    font-color: $primary-font-color;
}

h1{ 
    &.title.is-1 {
    font-size: 2rem;
    font-weight: 300;
    padding: 2rem;
    @media screen and (min-width: 1024px) {
        font-size: 3rem;
    }
} 
}
h2{ 
    &.title.is-2 {
    font-size: 1.8rem;
    font-weight: 300;
    padding: 2rem;
        @media screen and (min-width: 1024px) {
            font-size: 2.5rem;
        }
    }
}

.navbar{
    &.is-transparent{
        background-color: $seconday-color;
    }
}
.custom-fluid{
    &.container{
        &.is-fluid{
            padding: 0;
        }
    }
}

.cream-block, .pink-block{
    position: relative; 
    padding-bottom: 4rem;
    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 50px solid $seconday-color;
        border-right: 100vw solid transparent;
        z-index: 0;
    }

    @media screen and (min-width: 1024px) {
        min-height: 100vh;
        &::after{
            border-bottom: 100px solid $seconday-color;
        }
        .column{
            align-self: center;
        }
    }
}
.cream-block{
    background-color: $primary-color;
}
.pink-block{
    background-color: $seconday-color;
    &::after{
        border-bottom: 50px solid $primary-color;
        border-right: 0;
        left: inherit;
        right: 0;
        border-left: 100vw solid transparent;
    }
    @media screen and (min-width: 1024px) {
        flex-direction: row-reverse;
        display: flex;
        &::after{
            border-bottom: 100px solid $primary-color;
        }
    }
}

.home-wrap-logo{
    width: 60%;
    margin: 2rem auto 0 auto;
}
.block-image{
    width: 70%;
    margin: 0 auto;
    caption{
        display: block;
        font-size: 14px;
        font-family: $source;
        @media screen and (min-width: 1024px) {
            font-size: 1rem;
        }
    }
  
}

.card.price-card{
    max-width: 330px;
    margin: 0 auto;
    background: $primary-color;
}

.price-form{
    padding: 32px;
    .animal-radio{
        display: flex;

        input[type="radio"] {
            display: none;
        }
          
        label {
            
            background: $seconday-color;
            padding: 10px;
            display: block;
            position: relative;
            margin: 10px;
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
          
        label::before {
        background-color: white;
        color: white;
        content: '';
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
        }
          
        label img {
        height: 100px;
        width: 100px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
        }
          
        :checked+label {
        border: 1px solid $primary-font-color;
        }
          
        :checked+label::before {
        content: "✓";
        background-color: $primary-font-color;
        color: $primary-color;
        transform: scale(1);
        }
        
        :checked+label img {
        transform: scale(0.9);
        z-index: -1;
        }
    }
}