.sv-root-modern{
    .sv-question__title--answer {
        background-color: transparent !important;
    }

    .sv-container-modern fieldset {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-around;
    }

    .sv-imagepicker__item--checked .sv-imagepicker__image {
        background-color: transparent !important;
    }

    .sv-imagepicker__image {
        padding: 10px;
    }

    .sv-selectbase__label {
        text-align: left;
    }
    .sv-completedpage:before {
        display: none !important;
   }

   @media only screen and (max-width: 1000px){
    .sv-completedpage {
        margin-left: calc(10px + 0.293em);
        margin-right: 10px;
        padding: 12px;
        margin: 20px;
    }
   }

}