/* colors */

$primary-color: #F6F3EC;
$secondary-color: #F2DCD3;
$primary-less-color: rgba(246,243,236,0.8);
$secondary-less-color: rgba(242,220,211,0.8);
$primary-font-color: #3B1F17;

/* fonts */
$montserrat: 'Montserrat', sans-serif;
$source: 'Source Sans Pro', sans-serif;
